body{
  background-color:white;
  margin:0;
  padding:0;
}
.contact_child, .contact_body, .jumbotron, .logohold{
  position:relative;
  float:left;
  width:100%;
}
.contact_child{
  width:50%;
}
#table_row{
  margin:0.5em;
}
.logohold{
  background-color: inherit;
  height:100px;
  width:100%;
}
.jumbotron{
  background-color: red;
  height:500px;
  width:100%;
}
.contact_body{
  padding:1em;
  background-color:yellow;
  min-height:500px;
}

#imagelogo{
  height:100%;
  width:400px;
  background-color: inherit;
}
