.cssbox_thumb.alt{
  position: relative;
  float: left;
  height: 16em;
  width: 16em;
  margin: 0.2em;
}
.cssbox_thumb{
  position: relative;
  float: left;
  height: 17em;
  width: 18em;
  margin: 1em;
}
.cssbox_full, .cssbox_close, .cssbox_prev, .cssbox_next{
  z-index: 1;
}
.newsletter{
  font-weight: bold;
  font-size: 1.6em;
}
#mylogo{
  height: 100%;
  background-image:url("../images/logoA.png");
  background-size:45%;
  background-repeat:no-repeat;
  background-position:center;
}
body{
  background-color:white;
  overflow-x: hidden;
  margin:0;
  padding:0;
}
.landing{
  text-align: center;
}
#owl-box{
  width: 100%;
  height: 500px;
}
a,a:hover{
  text-decoration: none;
}

h4, h1{
  color: #cef;
  font-size: 1.8em;
  margin-left: 0.5em;
}
.page-header h4{
  color: red;
}
.page-sub-header h4{
  color: #f66;
}
h4{
  font-size: 1.4em;
  margin-left: 0.7em;
}
.contact_child, .contact_body, .jumbotron2, .logohold{
  position:relative;
  float:left;
  width:100%;
}
.contact_child{
  width:50%;
}
#table_row{
  margin:0.5em;
}

.logohold{
  background-color: inherit;
  height:100px;
  width:100%;
}

.jumbotron2{
  background-color: inherit;
  width:100%;
}

.contact_body{
  padding:2em;
  background-color: inherit;
  min-height:500px;
}

#imagelogo{
  height:100%;
  background-color: inherit;
}

.footer{
  background-color: #000426;
  width: 100%;
  min-height: 250px;
}
.list-footer{
  margin-top: 3em;
  text-align: left;
  list-style: none;
}
.list-footer li.header {
  color: #cef;
  font-size: 1.4em;
}
.list-footer a, .contact{
  color: #f35;
  justify-content: flex-start;
}
.contact{
  font-size: 1em;
}
.list-footer a:hover{
  color: #f59;
}
.copyright{
  background-color: rgba(255, 255, 255, 0.1);
  text-align:center;
  color:#d1d4ff;
  margin-top: 2em;
  padding:2em;
}
/*-------------------------------------------------------------------------------*/
.navbar-default {
    background-color: #339;
    border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #eee;/*Link when hover*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #06f; /*Link when active*/
    background-color: #eee;
}

.navbar-default .navbar-text {
    color: #FFF;
}

.navbar-default .navbar-toggle {
    border-color: #eee;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #eee;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #eee;
}

.h_2,.h_10, .h_20, .h_50, .h_100, .h_200, .h_300, .h_400, .h_500,
.h_600, .h_700, .h_800, .h_900, .h_1000{ min-height:2px; max-height:50000px; }

.h_2{ min-height:1px; }
.h_10{ min-height:10px; }
.h_20{ min-height:20px; }
.h_50{ min-height:50px; }
.h_100{ min-height:100px; }
.h_200{ min-height:200px; }
.h_300{ min-height:300px; }
.h_400{ min-height:400px; }
.h_500{ min-height:500px; }
.h_600{ min-height:600px; }
.h_700{ min-height:700px; }
.h_800{ min-height:800px; }
.h_900{ min-height:900px; }
.h_1000{ min-height:1000px; }

.bigImage{
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}
h4.hmeee{
  font-size: 1em;
  color:red;
}

/*------------------------------------------------------------------------------dropdown*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
